/* Estilos generales para la página */
.container {
    max-width: 100%; /* Asegura que el contenedor toma el ancho máximo */
}

/* Estilos específicos para las columnas */
.col-md-2 {
    flex: 0 0 20%; /* 20% del espacio disponible en pantallas medianas a grandes */
    max-width: 20%;
}

.col-md-4 {
    flex: 0 0 40%; /* 40% del espacio disponible en pantallas medianas a grandes */
    max-width: 40%;
}

/* Estilo para los jumbotrones, usados en las columnas de texto y resultados */
.jumbotron {
    padding: 20px;
    background-color: #f8f9fa; /* Fondo claro para destacar el área */
    border-radius: 5px; /* Bordes redondeados para mejor estética */
}

/* Estilos para el contenedor de opciones */
.options-container {
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Añade espacio debajo para evitar solapamientos */
}

/* Estilos para los controles dentro del contenedor de opciones */
.form-check, .form-check-label, .form-check-input {
    padding-left: 20px;
    margin-bottom: 8px;
    cursor: pointer; /* Indica que el elemento es interactivo */
}

/* Media queries para adaptabilidad en dispositivos móviles */
@media (max-width: 768px) {
    .col-md-2, .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%; /* Las columnas toman el 100% del ancho en pantallas pequeñas */
    }

    .options-container {
        width: 100%; /* Asegura que el contenedor de opciones ocupa todo el ancho disponible */
        position: relative; /* Elimina posicionamiento fijo para evitar solapamientos */
        left: 0;
        top: 0;
        margin-top: 10px; /* Espacio superior para separar del contenido anterior */
    }

    .jumbotron {
        padding: 10px; /* Reduce el padding en dispositivos pequeños para aprovechar el espacio */
    }
}
