<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Clear Text</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form action="/" class="mb-3" enctype="multipart/form-data" method="post">
        <div class="row">
            <!-- Logo en el borde superior izquierdo y en todas las resoluciones-->
            <div class="col-12 mb-3 text-center">
                <a href="https://gplsi.dlsi.ua.es/proyectos/cleartext/">
                    <img src="/static/Logo_ClearText.png" alt="Logo" style="height: 80px;">
                </a>
            </div>

            <!-- Columna de opciones -->
            <div class="col-md-2 col-12">
                <div class="options-container">
                    <!-- Grupo Léxico -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="useLexico" checked>
                        <label class="form-check-label h6" for="useLexico">Léxico</label>
                    </div>
                    <div id="optionsLexico" style="display:none">
                        <!-- Opciones Léxicas Aquí -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useAdverbios" name="useAdverbios"
                                   checked>
                            <label class="form-check-label" for="useAdverbios">Adverbios</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useNumero" name="useNumero" checked>
                            <label class="form-check-label" for="useNumero">Números</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useRomanos" name="useRomanos" checked>
                            <label class="form-check-label" for="useRomanos">Romanos</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useSuperlativos" name="useSuperlativos"
                                   checked>
                            <label class="form-check-label" for="useSuperlativos">Superlativos</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useAbreviaturas" name="useAbreviaturas"
                                   checked>
                            <label class="form-check-label" for="useAbreviaturas">Abreviaturas</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useAcronimos" name="useAcronimos"
                                   checked>
                            <label class="form-check-label" for="useAcronimos">Acrónimos</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useAnglicismos" name="useAnglicismos"
                                   checked>
                            <label class="form-check-label" for="useAnglicismos">Anglicismos</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usePalabrasLargas"
                                   name="usePalabrasLargas"
                                   checked>
                            <label class="form-check-label" for="usePalabrasLargas">Palabras largas</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usePalabrasDificiles"
                                   name="usePalabrasDificiles"
                                   checked>
                            <label class="form-check-label" for="usePalabrasDificiles">Palabras difíciles</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useNominalizacion"
                                   name="useNominalizacion"
                                   checked>
                            <label class="form-check-label" for="useNominalizacion">Nominalización</label>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="useSintactico" checked>
                        <label class="form-check-label h6" for="useSintactico">Sintáctico</label>
                    </div>
                    <div id="optionsSintactico" style="display:none">
                        <!-- Opciones Sintácticas Aquí -->
                        <div id="optionsSintactico" style="display:none">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="useComplejos" name="useComplejos"
                                       checked>
                                <label class="form-check-label" for="useComplejos">Complejos</label>
                            </div>

                            <!-- no-process-start -->
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="useImpersonal" name="useImpersonal"
                                       checked>
                                <label class="form-check-label" for="useImpersonal">Impersonal</label>
                            </div>
                            <!-- no-process-end -->
                        </div>
                    </div>
                    <div class="button-container mt-4 mb-2">
                        <button type="button" id="botonDislexia" class="btn btn-primary btn-sm mb-2 w-100">Dislexia
                        </button>
                        <button type="button" id="botonTrastorno" class="btn btn-secondary btn-sm w-100">Trastorno
                            Atención
                        </button>
                    </div>
                </div>
            </div>

            <!-- Columna de entrada de texto -->
            <div class="col-md-4 col-12">
                <div class="jumbotron p-3">
                    <h5 class="mb-4">Cargar archivo de texto</h5>
                    <div class="form-group">
                        <input class="form-control mb-4" name="file" type="file">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="inputText" name="inputText"
                                  rows="15">{{ input_text }}</textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary mr-2" name="action" type="submit" value="resumen">Resumen
                        </button>
                        <button class="btn btn-secondary" name="action" type="submit" value="simplify">Lectura
                            Facilitada
                        </button>
                        <button class="btn btn-secondary" name="action" type="submit" value="Topicos">Tópicos</button>
                    </div>
                </div>
            </div>

            <!-- Columna para mostrar resultados -->
            <div class="col-md-4 col-12">
                <div class="jumbotron p-3">
                    <textarea class="form-control" id="resultText" readonly rows="18">{{ result_text }}</textarea>
                    <div class="text-center mt-4">
                        <button onclick="downloadText()" class="btn btn-primary">Descargar</button>
                        <a href="/" class="btn btn-secondary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
